@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Body */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: hsl(30, 54%, 90%);
  font-family: Outfit;
  color: rgb(95, 87, 78);
}

main {
  max-width: 735px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  padding: 38px;
  border-radius: 24px;
  margin: 0 auto;
}

section {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 2px solid rgb(228, 222, 216);
}

section:last-of-type {
  border-bottom: unset;
}

section:nth-child(3) {
  margin-top: unset;
}

ul,
ol {
  padding-left: 28px;
  list-style-position: inside;
}

ul li,
ol li {
  margin-bottom: 12px;
}

li,
li span {
  padding-left: 10px;
  text-indent: -32px;
}

ul,
ol {
  margin-bottom: 32px;
}

li::marker {
  color: rgb(123, 40, 79);
  font-weight: bold;
}

img {
  max-width: 655px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  margin: 0 auto;
}

.header {
  border-bottom: unset;
  margin-top: unset;
  row-gap: unset;
}

.header .title {
  font-size: 39px;
  color: hsl(24, 5%, 18%);
  margin: 32px 0 13px;
}

section .title {
  font-family: "Young Serif";
  color: rgb(133, 70, 50);
  font-size: 28px;
  font-weight: 400;
}

.title-description {
  line-height: 24px;
  margin-bottom: 35px;
}

.preparation-container {
  padding: 24px 28px 28px;
  background-color: rgb(255, 245, 250);
  border-radius: 12px;
}

.preparation-container .preparation-title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(123, 40, 79);
  margin-bottom: 15px;
}

.preparation-list,
.preparation-list li:last-child {
  margin-bottom: unset;
}

.instructions .title {
  margin-top: 26px;
}

article {
  display: flex;
  border-bottom: 1px solid rgb(228, 222, 216);
}

article:last-of-type {
  border-bottom: unset;
}

article span {
  width: 50%;
  padding: 12px 1px 12px 32px;
}

article span:last-of-type {
  padding: 12px 32px 12px 1px;
}

.nutrional-values {
  color: rgb(133, 70, 50);
  font-weight: 700;
}

@media (max-width: 700px) {
  body {
    padding-top: 0;
  }

  main {
    border-radius: unset;
  }

  .header .title {
    font-size: 37px;
  }
}
